@model System.Collections.Generic.List<BrainThud.Core.Models.Card>

@{
    var firstCard = Model.FirstOrDefault();

    if (firstCard != null)
    {
        ViewBag.Title = firstCard.DeckName;
    }

    Layout = "~/Views/Shared/_public-layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var card in Model)
    {
        <li id="card-@card.EntityId">
            <div class="markdown list-card question">@card.Question</div>
            <div class="markdown list-card answer hidden">@card.Answer</div>
            <ul class="mini-menu">
                <li><a data-bind="click: function() { $root.showCardInfoDialog($data) }">view</a></li>
                <li><a href="javascript:flipCard('card-@card.EntityId')">flip</a></li>
            </ul>
        </li>
    }
</ul>
