@model IEnumerable<BrainThud.Core.Models.CardDeck>

@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_public-layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var cardDeck in Model)
    {
        <li>
            @Html.ActionLink(cardDeck.DeckName, "Deck", new { userId = cardDeck.UserId, deckNameSlug = cardDeck.DeckNameSlug })
        </li>
    }
</ul>
