@model IEnumerable<BrainThud.Core.Models.CardDeck>

@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_public-layout.cshtml";
}

<h2>Library</h2>
<ul>
    @foreach(var cardDeck in Model)
    {
        <li>@cardDeck.DeckName</li>
    }
</ul>