<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    
    <system.identityModel>
        <identityConfiguration>
            <audienceUris>
                <add value="http://www.brainthud.com/" xdt:Transform="SetAttributes" />
                <add value="http://authentication.brainthud.com/" xdt:Transform="Insert" />
            </audienceUris>
        </identityConfiguration>
    </system.identityModel>
    
    <system.identityModel.services>
        <federationConfiguration>
            <wsFederation passiveRedirectEnabled="false"
                          issuer="https://brainthud.accesscontrol.windows.net/v2/wsfederation"
                          realm="http://www.brainthud.com/"
                          requireHttps="false"
                          xdt:Transform="SetAttributes" />
        </federationConfiguration>
    </system.identityModel.services>
    
</configuration>