<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--    <add key="DataConnectionString" value="UseDevelopmentStorage=true" />-->
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=brainthud;AccountKey=oGHnzFFxl6ym5ZB7kRjnKhjPaRNbrCoxlpw/M/uEUZbA2i2wHDX3R2K1J9bIMKg55/DTabGaBpRbAmrHgxQ9mA==" />
  </appSettings>
</configuration>