<div class="row-fluid skip-line">
    <div class="span2">
        <span class="form-label">Deck name</span>
    </div>
    <div class="span10">
        <input id="new-card-deckname-@(ViewBag.EditorName)" type="text" class="stretch" data-bind="value: card().deckName, valueUpdate:'afterkeyup'" required/>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <span class="form-label">Tags</span>
    </div>
    <div class="span10">
        <input id="new-card-tags-@(ViewBag.EditorName)" type="text" placeholder="separate tags with commas" class="stretch" data-bind="value: card().tags" />
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        <span class="form-label">Question</span>
    </div>
    <div class="span10">
        <div id="wmd-button-bar-question-@(ViewBag.EditorName)"></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset2">
        <textarea id="wmd-input-question-@(ViewBag.EditorName)" class="large question" data-bind="value: card().question, valueUpdate:'afterkeyup'" required></textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset2">
        <div id="wmd-preview-question-@(ViewBag.EditorName)" class="wmd-preview question"></div>
    </div>
</div>
    
<div class="row-fluid">
    <div class="span2">
        <span class="form-label">Answer</span>
    </div>
    <div class="span10">
        <div id="wmd-button-bar-answer-@(ViewBag.EditorName)"></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset2">
        <textarea id="wmd-input-answer-@(ViewBag.EditorName)" class="large answer" data-bind="value: card().answer, valueUpdate:'afterkeyup'" required></textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span10 offset2">
        <div id="wmd-preview-answer-@(ViewBag.EditorName)" class="wmd-preview answer"></div>
    </div>
</div>