@{
    ViewBag.Title = "BrainThud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.HideNavBar == null || !ViewBag.HideNavBar)
{
    <text>
    @section menu {
        <li>@Html.ActionLink("Library", "Index", "Library")</li>

        @if(User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Sign Out", "SignOut", "Account")</li>
        }
    }
    </text>
}

@RenderBody()

@section Scripts {
    @RenderSection("scripts", required: false)
}
