/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
body,
button,
input,
select,
textarea {
  color: #5a5a5a;
}
html,
body {
  height: 100%;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.shadow {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- Controls -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
textarea.large {
  height: 150px;
  width: 100%;
}
form {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a5a5a;
}
.slider {
  margin-top: 10px;
  margin-bottom: 30px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- display -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.visible {
  visibility: visible;
}
.removed {
  display: none;
}
.correct-color {
  color: #59b359;
}
.incorrect-color {
  color: #d74c46;
}
.view {
  display: none;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- Text -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.white-text {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.small-text {
  font-size: 13px;
}
.right-text-align {
  text-align: right;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- Sizing -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.stretch {
  width: 100%;
}
.strong {
  font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- Location -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.right-align {
  float: right;
}
.center-align {
  text-align: center;
}
.double-space {
  margin-left: 10px;
}
.skip-line {
  margin-top: 20px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- custom -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#loading {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: #E5E5E5;
  text-align: center;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity=60);
  overflow: hidden;
}
#loading img {
  max-height: 30px;
  margin-top: 5px;
}
.main-nav {
  margin: 0 10px 0 45px !important;
}
.quiz-card {
  border: 1px;
  border-style: solid;
  padding: 50px;
  min-height: 200px !important;
  margin: 10px 0 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.list-card {
  border: 1px;
  border-style: solid;
  padding: 10px;
  min-height: 0 !important;
  margin: 10px 0 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.list-card-deck {
  display: block;
  border: 1px solid #E5E5E5;
  margin: 0 0 -1px;
  padding: 6px 15px !important;
}
.list-card-deck:hover {
  cursor: pointer;
}
.card-deck-container {
  background-color: white;
  padding: 0;
  margin: 10px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.card-deck-container li:first-child > a {
  border-radius: 6px 6px 0 0;
}
.card-deck-container li:last-child > a {
  border-radius: 0 0 6px 6px;
  margin: 0 -15px;
}
.card-deck-name {
  display: block;
  background-color: #08C;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.card-deck-name:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.primary-button {
  padding: 25px;
  margin-top: 10px;
  width: 100%;
}
.card-toolbar {
  margin: 10px 0 0;
}
.card-toolbar-button {
  margin: 0 0 0 10px;
  padding: 10px 20px;
}
.quiz-control-box {
  margin: 15px 0 0 0;
}
.identity {
  float: right;
  display: block;
  padding: 10px 15px 10px 0;
}
.identity-provider {
  width: 120px;
  margin: 20px;
}
.navbar {
  margin-bottom: 10px;
}
.content-block {
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px;
}
.colored-content-block {
  background-color: whiteSmoke;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 10px;
}
.login-instructions {
  margin: 30px 0;
  padding: 50px 30px;
}
.identity-provider-block {
  margin: 20px 0;
  padding: 30px 10px;
}
.login-logo {
  margin: 30px 0;
  padding-left: 10px;
}
input[type=text] {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  min-height: 30px;
}
.mini-menu {
  margin: 0 5px;
}
.mini-menu li {
  display: inline;
}
.mini-menu li a {
  font-size: 13px;
  color: #aaaaaa;
  cursor: pointer;
}
.mini-menu li:after {
  content: ' | ';
  font-size: 13px;
  color: #aaaaaa;
}
.mini-menu li:last-child:after {
  content: '';
}
.quiz-details {
  margin: 20px 0px;
  padding: 40px;
}
.form-label {
  float: right;
  margin-top: 3px;
  font-weight: bold;
}
.text-small {
  font-size: 13px;
  color: #aaaaaa;
}
.progress-indicator {
  float: right;
  margin: 2px 5px;
  font-size: 13px;
  color: #aaaaaa;
}
.main-container {
  box-shadow: 0 0 85px rgba(0, 0, 0, 0.3);
  padding: 0 30px;
  margin-top: -51px;
  min-height: 100%;
}
.main {
  padding: 50px 0;
}
.level-slider-label {
  margin-top: 8px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media (min-width: 1200px) {
  
}
@media (max-width: 1239px) {
  .main-container {
    box-shadow: none;
    padding: 0;
    margin-top: 0;
    min-height: 0%;
  }
  .main {
    padding: 0;
  }
}
@media (max-width: 1199px) {
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  
}
@media (max-width: 979px) {
  .quiz-card {
    border: 1px;
    border-style: solid;
    padding: 25px;
    min-height: 150px !important;
    margin: 10px 0 0 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 768px) {
  .card-deck-name {
    display: none;
  }
  .card-deck-container {
    height: auto !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  .primary-button {
    margin-top: 0;
    padding: 15px;
  }
  .card-toolbar {
    margin: 0;
  }
  .login-instructions {
    margin: 10px 0;
    padding: 10px 10px;
  }
  .identity-provider-block {
    margin: 10px 0;
    padding: 5px;
  }
  .identity-provider {
    margin: 10px;
  }
  .form-label {
    float: none;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
  }
  #loading {
    margin-left: -20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  .quiz-card {
    border: 1px;
    border-style: solid;
    padding: 10px;
    min-height: 100px !important;
    margin: 10px 0 0 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
  .identity {
    visibility: collapse;
    padding: 0;
  }
  .quiz-details {
    margin: 10px 0 0 0;
    padding: 10px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- custom -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.question {
  border-color: #d4d4d4;
}
.answer {
  border-color: #006ecc;
}
.correct {
  border-color: #59b359;
}
.incorrect {
  border-color: #d74c46;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --- override lib css -----------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.row-fluid [class*="span"] {
  min-height: 10px;
}
.wmd-button-row {
  margin: 0;
}
.brand {
  padding: 0 0 0 15px !important;
  position: absolute;
  margin-top: 3px;
}
