<section id="create-card-view" class="view">
    @*<span data-bind="text: ko.toJSON($data)"></span>*@

    <div class="row-fluid">
        <div class="span12">
            <input type="text" placeholder="Deck Name" class="stretch" data-bind="value: deckName" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input type="text" placeholder="Tags (separate tags with commas)" class="stretch" data-bind="value: tags" />
        </div>
    </div>



    @*    <div class="row-fluid">*@
    @*        <div class="span12">*@
    @*            <textarea class="large" placeholder="Question" data-bind="value: question"></textarea>*@
    @*        </div>*@
    @*    </div>*@

    <div class="row-fluid">
        <div class="span12">
            <div id="wmd-button-bar"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <textarea class="large" id="wmd-input" placeholder="Question" data-bind="value: question"></textarea>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="wmd-preview" class="wmd-preview"></div>
        </div>
    </div>

    

@*    <div class="row-fluid">*@
@*        <div class="span12">*@
@*            <textarea class="large" placeholder="Answer" data-bind="value: answer"></textarea>*@
@*        </div>*@
@*    </div>*@
    
    <div class="row-fluid">
        <div class="span12">
            <div id="wmd-button-bar-second"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <textarea class="large" id="wmd-input-second" placeholder="Answer" data-bind="value: answer"></textarea>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="wmd-preview-second" class="wmd-preview"></div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <button type="button" class="btn right-align" data-bind="click: saveCard">Create & New</button>
        </div>
    </div>
</section>
