<section id="create-card-view" class="view">
    @*<span data-bind="text: ko.toJSON($data)"></span>*@

    <div class="alert alert-success hidden">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> The card has been successfully created.
    </div>

    <div class="row-fluid">
        <div class="span1">Question</div>
        <div class="span11">
            <textarea class="large" data-bind="value: question"></textarea>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">Answer</div>
        <div class="span11">
            <textarea class="large" data-bind="value: answer"></textarea>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <button type="button" class="btn right-align" data-bind="click: saveCard">Create</button>
        </div>
    </div>
</section>
