<div id="deleteDialog" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <h4>The card will be permanently deleted.</h4>
        <p>Are you sure you want to delete the selected card?</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" data-toggle="delete">Delete Card</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>
