<section id="library-view" class="view">

    <div class="row-fluid">
        <div class="span3">
            <a class="card-deck-name">
                <table>
                    <tr>
                        <td class="stretch"><span data-bind="html: selectedDeckName()"></span></td>
                        <td><i id="card-deck-chevron" class="icon-chevron-down icon-white"></i></td>
                    </tr>
                </table>
            </a>
            <div class="card-deck-container collapse">
                <ul class="nav nav-list" data-bind="foreach: cardDecks">
                    <li data-bind="css: { active: $root.isDeckSelected($data.deckNameSlug()) }">
                        <a class="list-card-deck" data-bind="click: function () { $root.filterCards($data.deckNameSlug()) }">
                            <table>
                                <tr>
                                    <td class="stretch"><span class="card-title" data-bind="html: $data.deckName()"></span></td>
                                    <td class="right-text-align bottom-text-align"><span class="card-count" data-bind="html: $data.cardCount()"></span></td>
                                </tr>
                            </table>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="batch-button-container">
                <input type="checkbox" data-bind="checked: isCheckedForBatch, event: { click: toggleIsCheckedForBatch }">
                <div class="btn-group batch-button">
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown" data-bind="disable: !isCheckedForBatch()">Batch <span class="caret"></span></button>
                    <ul class="dropdown-menu">
@*                        <li><a href="#">Edit</a></li>*@
                        <li><a data-bind="click: showDeleteBatchDialog">Delete</a></li>
@*                        <li class="divider"></li>*@
                        <li><a data-bind="click: flipAll">Flip</a></li>
                    </ul>
                </div>
            </div>
            <ul data-bind="foreach: filteredCards">
                <li>
                    <div class="list-card-checkbox">
                        <input type="checkbox" data-bind="checked: isCheckedForBatch, event: { click: $root.updateAreBatchItemsSelected }">
                    </div>
                    <div class="list-card-container">
                        <div class="list-card question markdown" data-bind="html: currentSideText, css: libraryCardBorder"></div>
                        @Html.Partial("_card-mini-menu", new[] { "<a data-bind='click: function() { $root.flipCard($data) }'>flip</a>" })
                    </div>
                </li>
            </ul>
        </div>
    </div>

    @*        <span data-bind="text: ko.toJSON($data)"></span>*@
</section>
