<section id="library-view" class="view">

    <div class="row-fluid">
        <div class="span3">
            <a class="card-deck-name">
                <table>
                    <tr>
                        <td class="stretch"><span data-bind="html: selectedDeckName()"></span></td>
                        <td><i id="card-deck-chevron" class="icon-chevron-down icon-white"></i></td>
                    </tr>
                </table>
            </a>
            <div class="card-deck-container collapse">
                <ul class="nav nav-list" data-bind="foreach:cardDecks">
                    <li data-bind="css: { active: $root.isDeckSelected($data.deckNameSlug()) }">
                        <a class="list-card-deck" data-bind="html: $data.deckName(), click: function() { $root.filterCards($data.deckNameSlug()) }"></a>
                    </li>
                </ul>
            </div>
        </div>
    <div class="span9">
        <ul data-bind="foreach:filteredCards">
            <li>
                <div class="list-card question" data-bind="html: currentSideText, css: { question: questionSideVisible(), answer: !questionSideVisible() }"></div>
                @Html.Partial("_card-mini-menu", new[] { "<a data-bind='click: function() { $root.flipCard($data) }'>flip</a>" })
            </li>
        </ul>
    </div>
    </div>


    @*    <span data-bind="text: ko.toJSON($data)"></span>*@
</section>
