<section id="library-view" class="view">

    <div class="row-fluid">
        <div class="span3">
            <ul data-bind="foreach:cardDecks">
                <li>
                    <div class="list-card-deck" data-bind="html: $data, css: { selectedCardDeck: $root.isDeckSelected($data) }, click: function() { $root.filterCards($data) }"></div>
                </li>
            </ul>
        </div>
        <div class="span9">
            <ul data-bind="foreach:filteredCards">
                <li>
                    <div class="list-card question" data-bind="html: currentSideText, css: { question: questionSideVisible(), answer: !questionSideVisible() }"></div>
                    @Html.Partial("_card-mini-menu", new[] { "<a data-bind='click: function() { $root.flipCard($data) }'>flip</a>" })
                </li>
            </ul>
        </div>
    </div>


    @*    <span data-bind="text: ko.toJSON($data)"></span>*@
</section>
