<section id="questions-view" class="view">
    
    <ul data-bind="foreach:questions">
        <li>
            <span data-bind="text: $data.question"></span>
        </li>
    </ul>

</section>