<section id="questions-view" class="view">
    
@*    <input data-bind="value: question" value="This is the question text"/>*@
    
    <ul data-bind="foreach:questions">
        <li>
            <span data-bind="text: $data.question"></span>
        </li>

    </ul>

</section>