<section id="quiz-view" class="view">

    <div class="row-fluid">
        <div class="card question span12" data-bind="text: currentCardText, click: flipCard, css: { question: questionSideVisible(), answer: !questionSideVisible() }"></div>
    </div>

    <div class="row-fluid">
            <button type="button" class="span6 primary-button btn btn-success" data-bind="click: submitCorrect">Correct</button>
            <button type="button" class="span6 primary-button btn btn-danger" data-bind="click: submitIncorrect">Incorrect</button>
    </div>

@*        <span data-bind="text: ko.toJSON(currentCard)"></span>*@
</section>
