<section id="quiz-view" class="view">

    <div class="row-fluid">
        <div class="span12 card">
            <span data-bind="text: currentCard.question"></span>
        </div>
    </div>

@*    <span data-bind="text: ko.toJSON(currentCard)"></span>*@
</section>
