<section id="todays-quiz-view" class="view">

    <div class="row-fluid card-toolbar">
        <div class="span12">
            <button type="button" class="btn right-align card-toolbar-button" data-bind="click: showNextCard">></button>
            <button type="button" class="btn right-align card-toolbar-button" data-bind="click: showPreviousCard"><</button>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div id="wmd-preview-quiz" class="quiz-card question span12" data-bind="html: currentCardText, css: { question: questionSideVisible(), answer: !questionSideVisible() }"></div>
            @Html.Partial("_card-mini-menu")
        </div>
    </div>


    <div class="row-fluid quiz-control-box">
        <div class="span4">
            <button type="button" class="primary-button btn btn-primary" data-bind="click: flipCard">Flip Card</button>
        </div>
        <div class="span4">
            <button type="button" class="primary-button btn btn-success" data-bind="click: submitCorrect">Correct</button>
        </div>
        <div class="span4">
            <button type="button" class="primary-button btn btn-danger" data-bind="click: submitIncorrect">Incorrect</button>
        </div>
    </div>

    @*        <span data-bind="text: ko.toJSON(currentCard)"></span>*@
</section>
