<section id="user-configuration-view" class="view">
    <div class="row-fluid">
        <div class="span12">
            <h1>Settings</h1>
        </div>
    </div>
    <div class="row-fluid skip-line">
        <div class="span12 well">
            <p>
                Each card in your library has a level ranging from 0 to 5.  
                This level indicates the number of times you have consecutively answered the card correctly.
                When you first create a card it will be at level 0.  
                If you answer the card correctly in your quiz it will advance to level 1.  
                Answer it correctly the next time and it will advance to level 2 and so on.  
                If you answer the card incorrectly, regardless of the level it is currently on, it will return back to level 0.
            </p>
            <p>
                Each level has a value associated with it indicating the number of days before the card will be asked again in your daily quiz.
            </p>
        </div>
    </div>

    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <h4>Use the sliders below to set the number of days a card should wait before appearing in your quiz.</h4>
        </div>
    </div>

    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <span>After a card is <span class="strong">first created</span> it should be asked in your quiz in 
                <input type="text" class="strong input-mini right-text-align level-slider-label" data-bind="value: userConfiguration().quizInterval0, valueUpdate: 'afterkeydown'" />
                <span data-bind="html: userConfiguration().quizInterval0DayLabel"></span>
            </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div data-bind="slider: userConfiguration().quizInterval0, sliderOptions: {min: 0, max: 365, range: 'min', step: 1}"></div>
        </div>
    </div>
    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <span>After a card advances to <span class="strong">level 1</span> it should be asked again in
                <input type="text" class="strong input-mini right-text-align level-slider-label" data-bind="value: userConfiguration().quizInterval1, valueUpdate: 'afterkeydown'" />
                <span data-bind="html: userConfiguration().quizInterval1DayLabel"></span>
            </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div data-bind="slider: userConfiguration().quizInterval1, sliderOptions: {min: 1, max: 365, range: 'min', step: 1}"></div>
        </div>
    </div>
    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <span>After a card advances to <span class="strong">level 2</span> it should be asked again in
                <input type="text" class="strong input-mini right-text-align level-slider-label" data-bind="value: userConfiguration().quizInterval2, valueUpdate: 'afterkeydown'" />
                <span data-bind="html: userConfiguration().quizInterval2DayLabel"></span>

            </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div data-bind="slider: userConfiguration().quizInterval2, sliderOptions: {min: 1, max: 365, range: 'min', step: 1}"></div>
        </div>
    </div>
    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <span>After a card advances to <span class="strong">level 3</span> it should be asked again in
                <input type="text" class="strong input-mini right-text-align level-slider-label" data-bind="value: userConfiguration().quizInterval3, valueUpdate: 'afterkeydown'" />
                <span data-bind="html: userConfiguration().quizInterval3DayLabel"></span>

            </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div data-bind="slider: userConfiguration().quizInterval3, sliderOptions: {min: 1, max: 365, range: 'min', step: 1}"></div>
        </div>
    </div>
    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <span>After a card advances to <span class="strong">level 4</span> it should be asked again in
                <input type="text" class="strong input-mini right-text-align level-slider-label" data-bind="value: userConfiguration().quizInterval4, valueUpdate: 'afterkeydown'" />
                <span data-bind="html: userConfiguration().quizInterval4DayLabel"></span>

            </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div data-bind="slider: userConfiguration().quizInterval4, sliderOptions: {min: 1, max: 365, range: 'min', step: 1}"></div>
        </div>
    </div>
    <div class="row-fluid skip-line">
        <div class="span10 offset1">
            <span>After a card advances to <span class="strong">level 5</span> it should be asked again in
                <input type="text" class="strong input-mini right-text-align level-slider-label" data-bind="value: userConfiguration().quizInterval5, valueUpdate: 'afterkeydown'" />
                <span data-bind="html: userConfiguration().quizInterval5DayLabel"></span>

            </span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div data-bind="slider: userConfiguration().quizInterval5, sliderOptions: {min: 1, max: 365, range: 'min', step: 1}"></div>
        </div>
    </div>


    <div class="row-fluid skip-line">
        <div class="span4 offset7">
            <button type="button" class="primary-button btn btn-primary right-align" data-bind="command: updateCommand, activity: updateCommand.isExecuting">Save</button>
        </div>
    </div>


    @*    <span data-bind="text: ko.toJSON($data)"></span>*@
</section>
