@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_public-layout.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <div class="span4 login-brand">
            <img src="~/Images/title-330.png" />
            <img class="login-logo hidden-phone" src="~/Images/logo-200.png" />
        </div>
        <div class="span8">
            <div class="colored-content-block center-align login-instructions">
                <h3>Click below to log in with a trusted identity provider</h3>
                Your BrainThud account will be created when you log in
            </div>
            <div>
                <div class="center-align content-block login-instructions">
                    <div id="IPDiv" />
                </div>
            </div>

            <div class="alert alert-success center-align login-instructions">
                <strong>Don't worry,</strong> the identity providers don't give us access to your credentials
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/account.js")
    <script src="@ViewBag.MetaDataScript" type="text/javascript"></script>
}
