<div class="row-fluid">
    <div class="span12">Click a logo below to log in using a trusted identity provider</div>
</div>

<div id="IPDiv"/>

@section Scripts {
    @Scripts.Render("~/scripts/account.js")
    <script src="@ViewBag.MetaDataScript" type="text/javascript"></script>
}
