@{
    ViewBag.HideNavBar = true;    
}

<div class="row-fluid">
    <div class="span4 hidden-phone login-logo">
        <img src="~/Images/logo_medium.jpg" />
    </div>
    <div class="span8 colored-content-block login-instructions">
        Click below to log in using a trusted identity provider
    </div>
    <div class="span8 center-align content-block">
        <div id="IPDiv"/>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/account.js")
    <script src="@ViewBag.MetaDataScript" type="text/javascript"></script>
}
