@{
    ViewBag.HideNavBar = true;    
}

<div class="row-fluid">
    <div class="span12">
        <div class="span4 hidden-phone login-logo">
            <img src="~/Images/logo_medium.png" />
        </div>
        <div class="span8">
            <div class="colored-content-block center-align login-instructions">
                <h3>Click below to log in with a trusted identity provider</h3>
                Your BrainThud account will automatically be created when you log in
            </div>
            <div>
            <div class="center-align content-block login-instructions">
                <div id="IPDiv" />
            </div>
            </div>

            <div class="alert alert-success center-align login-instructions">
                <strong>Don't worry,</strong> the identity providers don't give us access to your credentials
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/account.js")
    <script src="@ViewBag.MetaDataScript" type="text/javascript"></script>
}
