<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="71af87f8-5077-4b6e-8e17-2cb54ba77786"
            Publisher="CN=Kevin"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BrainThud.Win</DisplayName>
    <PublisherDisplayName>Kevin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BrainThud.Win.App">
        <VisualElements
            DisplayName="BrainThud.Win"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BrainThud.Win"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>