<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Tests</title>
    <link href="~/Content/qunit.css" rel="stylesheet" />
</head>
<body>
    <h1 id="qunit-header">Tests</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture"></div>

    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Test/Scripts/test-setup.js"></script>

    <script src="~/Scripts/app/data-context.js"></script>
    <script src="~/Test/Scripts/data-context-test.js"></script>
</body>

</html>
