<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="BrainThud.FlashCard.Tablet" android:versionCode="1">
  <uses-sdk android:targetSdkVersion="11" />
  <application android:label="FlashCard by BrainThud">
  </application>
</manifest>